.button-group {
	align-items: stretch;
	clip-path: polygon(
		/* Top left */
		0 calc(1px * var(--ui-scale)),
		calc(1px * var(--ui-scale)) calc(1px * var(--ui-scale)),
		calc(1px * var(--ui-scale)) 0,

		/* Top right */
		calc(100% - (1px * var(--ui-scale))) 0,
		calc(100% - (1px * var(--ui-scale))) calc(1px * var(--ui-scale)),
		100% calc(1px * var(--ui-scale)),

		/* Bottom right */
		100% calc(100% - (1px * var(--ui-scale))),
		calc(100% - (1px * var(--ui-scale))) calc(100% - (1px * var(--ui-scale))),
		calc(100% - (1px * var(--ui-scale))) 100%,

		/* Bottom left */
		calc(1px * var(--ui-scale)) 100%,
		calc(1px * var(--ui-scale)) calc(100% - (1px * var(--ui-scale))),
		0 calc(100% - (1px * var(--ui-scale))),
	);
	display: flex;
	gap: calc(1px * var(--ui-scale));

	> * {
		clip-path: none;

		&:not(.button) {
			align-items: center;
			background-color: var(--palette-dark-grey);
			display: flex;
			padding: 0 calc(3px * var(--ui-scale));
		}
	}
}
