.combobox {
	--item-padding: calc(4px * var(--ui-scale));

	position: relative;

	button {
		background-color: var(--palette-dark-grey);
		cursor: pointer;
		padding: var(--item-padding);
		text-align: left;
		width: 100%;

		&:hover,
		&:focus {
			background-color: var(--palette-indigo);
		}
	}

	.combobox-label button {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: var(--item-padding);
		position: relative;
		text-align: left;
		width: 100%;

		&:after {
			background-color: var(--palette-white);
			clip-path: polygon(
				0 0,
				100% 0,
				100% calc(1px * var(--ui-scale)),
				calc(100% - (1px * var(--ui-scale))) calc(1px * var(--ui-scale)),
				calc(100% - (1px * var(--ui-scale))) calc(2px * var(--ui-scale)),
				calc(100% - (2px * var(--ui-scale))) calc(2px * var(--ui-scale)),
				calc(100% - (2px * var(--ui-scale))) calc(3px * var(--ui-scale)),
				calc(2px * var(--ui-scale)) calc(3px * var(--ui-scale)),
				calc(2px * var(--ui-scale)) calc(2px * var(--ui-scale)),
				calc(1px * var(--ui-scale)) calc(2px * var(--ui-scale)),
				calc(1px * var(--ui-scale)) calc(1px * var(--ui-scale)),
				0 calc(1px * var(--ui-scale)),
			);
			content: '';
			display: block;
			height: calc(3px * var(--ui-scale));
			margin-left: calc(5px * var(--ui-scale));
			width: calc(5px * var(--ui-scale));
		}
	}

	.combobox-options {
		flex-direction: column;
		left: 0;
		max-height: 50vh;
		overflow: auto;
		position: absolute;
		right: 0;
		top: 100%;
		z-index: 1;

		.combobox-options-group {
			display: block;
			position: relative;

			header {
				background-color: var(--palette-indigo);
				padding: var(--item-padding);
				position: sticky;
				text-align: left;
				top: 0;
				width: 100%;
			}

			[role=option] button:before {
				content: '↳';
				margin-right: calc(2px * var(--ui-scale));
			}
		}

		[role=option][aria-selected="true"] button {
			background-color: var(--palette-purple);
		}
	}
}
