@use 'sass:list';
@use 'sass:map';

.gamepad-template {
	position: relative;

	[data-sprite-index] {
		// left: 50%;
		left: 0;
		position: absolute;
		// top: 50%;
		top: 0;
		transform: translate(
			calc(var(--sprite-x-offset) * var(--ui-scale)),
			calc(var(--sprite-y-offset) * var(--ui-scale))
		);
	}
}
