.gamepad-spritesheet {
	background-repeat: no-repeat;
	background-size:
		calc(var(--sprite-template-width) * var(--ui-scale))
		calc(var(--sprite-template-height) * var(--ui-scale));
	height: calc(var(--sprite-height) * var(--ui-scale));
	width: calc(var(--sprite-width) * var(--ui-scale));

	&.gamepad {
		background-position: 0 calc(-32px * var(--ui-scale));
		height: calc(128px * var(--ui-scale));
		width: calc(128px * var(--ui-scale));
	}

	&[data-sprite-index] {
		--background-x-offset: calc(var(--sprite-source-x) * -1);
		--background-y-offset: calc(var(--sprite-source-y) * -1);
		--scaled-background-x-offset: calc(var(--background-x-offset) * var(--ui-scale));
		--scaled-background-y-offset: calc(var(--background-y-offset) * var(--ui-scale));

		background-position:
			var(--scaled-background-x-offset)
			var(--scaled-background-y-offset);

		&.is-pressed {
			background-position:
				var(--scaled-background-x-offset)
				calc((var(--background-y-offset) - var(--sprite-height)) * var(--ui-scale));
		}
	}
}
