.map-editor {
	display: grid;
	flex-shrink: 1;
	gap: calc(var(--app-padding) * var(--ui-scale));
	grid-template-columns: auto 1fr;
	overflow: hidden;

	.editor {
		cursor: none;
		display: flex;
		grid-area: editor;
		position: relative;
		overflow: hidden;

		canvas {
			position: absolute;
			transform-origin: 0 0;
		}

		&.is-movable {
			cursor: grab;
		}

		&.is-moving {
			cursor: grabbing;
		}
	}

	.editor-container {
		display: grid;
		grid-template-areas:
			'tabs'
			'editor'
			'editor-controls';
		grid-template-rows: auto 1fr auto;
	}

	.editor-controls {
		display: flex;
		flex-wrap: wrap;
		gap: calc(10px * var(--ui-scale));
		grid-area: editor-controls;
		padding-top: calc(var(--app-padding) * var(--ui-scale));

		.control {
			align-items: center;
			display: flex;
			gap: calc(3px * var(--ui-scale));
		}
	}

	.panel-container {
		background-color: var(--deep-grey);
		display: flex;
		flex-direction: column;
		gap: calc(var(--app-padding) * var(--ui-scale));
		overflow: hidden;
		width: 20vw;
	}

	.tabs {
		grid-area: tabs;
	}
}

.modal.new-assets {
	.asset-previews {
		> li {
			grid-template-columns: 10rem 1fr;
			position: relative;

			menu,
			.details {
				background-color: hsla(var(--palette-pure-black-hsl), 0.5);
				left: 0;
				padding: calc(4px * var(--ui-scale));
				position: absolute;
				right: 0;
			}

			menu {
				justify-content: flex-end;
				top: 0;
			}

			.details {
				bottom: 0;
			}
		}
	}
}

.modal.new-tile {
	.content {
		align-items: start;
		display: grid;
		column-gap: calc(10px * var(--ui-scale));
		grid-template-areas:
		'preview details'
		'footer footer';
		grid-template-columns: auto 1fr;
		grid-template-rows: 1fr auto;

		figure {
			border-color: var(--palette-dark-grey);
			border-style: solid;
			border-width: calc(1px * var(--ui-scale));
			clip-path: polygon(
				0 calc(1px * var(--ui-scale)),
				calc(1px * var(--ui-scale)) calc(1px * var(--ui-scale)),
				calc(1px * var(--ui-scale)) 0,

				calc(100% - (1px * var(--ui-scale))) 0,
				calc(100% - (1px * var(--ui-scale))) calc(1px * var(--ui-scale)),
				100% calc(1px * var(--ui-scale)),

				100% calc(100% - (1px * var(--ui-scale))),
				calc(100% - (1px * var(--ui-scale))) calc(100% - (1px * var(--ui-scale))),
				calc(100% - (1px * var(--ui-scale))) 100%,

				calc(1px * var(--ui-scale)) 100%,
				calc(1px * var(--ui-scale)) calc(100% - (1px * var(--ui-scale))),
				0 calc(100% - (1px * var(--ui-scale))),
			);
			padding: calc(5px * var(--ui-scale));
		}

		footer {
			grid-area: footer;
		}
	}
}
