.panel {
	--panel-border-color: var(--palette-dark-grey);
	--panel-border-width: 2px;

	display: flex;
	flex-direction: column;
	padding: calc(((var(--panel-border-width) * 2) + (var(--panel-padding) * 2)) * var(--ui-scale));
	position: relative;

	&:after {
		background-color: var(--panel-border-color);
		clip-path: generateCornerCutPath((
			'borderSize': 2,
			'clipSize': 6,
			'isBorder': true,
			'uiScale': var(--ui-scale),
		));
		content: '';
		display: flex;
		inset: 0;
		position: absolute;
		transition-duration: 0.2s;
		transition-property: background-color;
	}

	&.is-centered {
		align-items: center;
		justify-content: center;
	}

	&.is-primary {
		--panel-border-color: var(--palette-white);
	}

	> .panel-bottom {
		margin-top: auto;
	}
}
