.panel {
	--clip-point: calc((var(--panel-corner-clip-size) - (var(--panel-border-size) / 2)) * var(--ui-scale) * 1px);

	clip-path: polygon(
		0 var(--clip-point),
		var(--clip-point) 0,
		100% 0,
		100% calc(100% - var(--clip-point)),
		calc(100% - var(--clip-point)) 100%,
		0 100%
	);
	display: flex;
	flex-direction: column;
	padding: calc((var(--panel-border-size) + var(--panel-padding)) * var(--ui-scale) * 1px);
	position: relative;

	&:after {
		background-color: var(--panel-border-color);
		clip-path: generateCornerCutPath((
			'borderSize': $panelBorderSize,
			'clipSize': $panelCornerClipSize,
			'isBorder': true,
			'uiScale': var(--ui-scale),
		));
		content: '';
		display: flex;
		inset: 0;
		position: absolute;
		transition-duration: 0.2s;
		transition-property: background-color;
	}

	&.is-centered {
		align-items: center;
		justify-content: center;
	}

	&.is-primary {
		--panel-border-color: var(--palette-white);
	}

	> .panel-bottom {
		margin-top: auto;
	}
}
