.timer {
	&.is-bordered {
		padding: calc(4px * var(--ui-scale));
		position: relative;

		&:after {
			background-color: var(--palette-dark-grey);
			clip-path: polygon(
				/* Left */
				-1px -1px,
				-1px calc(3px * var(--ui-scale)),
				calc(1px * var(--ui-scale)) calc(3px * var(--ui-scale)),
				calc(1px * var(--ui-scale)) calc(4px * var(--ui-scale)),
				calc(2px * var(--ui-scale)) calc(4px * var(--ui-scale)),
				calc(2px * var(--ui-scale)) calc(8px * var(--ui-scale)),
				calc(1px * var(--ui-scale)) calc(8px * var(--ui-scale)),
				calc(1px * var(--ui-scale)) calc(100% - (3px * var(--ui-scale))),
				-1px calc(100% - (3px * var(--ui-scale))),

				/* Top */
				-1px -1px,
				calc(3px * var(--ui-scale)) -1px,
				calc(3px * var(--ui-scale)) calc(1px * var(--ui-scale)),
				calc(4px * var(--ui-scale)) calc(1px * var(--ui-scale)),
				calc(4px * var(--ui-scale)) calc(2px * var(--ui-scale)),
				calc(10px * var(--ui-scale)) calc(2px * var(--ui-scale)),
				calc(10px * var(--ui-scale)) calc(1px * var(--ui-scale)),
				calc(100% - (3px * var(--ui-scale))) calc(1px * var(--ui-scale)),
				calc(100% - (3px * var(--ui-scale))) -1px,

				/* Right */
				calc(100% + 1px) -1px,
				calc(100% + 1px) calc(3px * var(--ui-scale)),
				calc(100% - (1px * var(--ui-scale))) calc(3px * var(--ui-scale)),
				calc(100% - (1px * var(--ui-scale))) calc(100% - (8px * var(--ui-scale))),
				calc(100% - (2px * var(--ui-scale))) calc(100% - (8px * var(--ui-scale))),
				calc(100% - (2px * var(--ui-scale))) calc(100% - (4px * var(--ui-scale))),
				calc(100% - (1px * var(--ui-scale))) calc(100% - (4px * var(--ui-scale))),
				calc(100% - (1px * var(--ui-scale))) calc(100% - (3px * var(--ui-scale))),
				calc(100% + 1px) calc(100% - (3px * var(--ui-scale))),

				/* Bottom */
				calc(100% + 1px) calc(100% + 1px),
				calc(100% - (3px * var(--ui-scale))) calc(100% + 1px),
				calc(100% - (3px * var(--ui-scale))) calc(100% - (1px * var(--ui-scale))),
				calc(100% - (4px * var(--ui-scale))) calc(100% - (1px * var(--ui-scale))),
				calc(100% - (4px * var(--ui-scale))) calc(100% - (2px * var(--ui-scale))),
				calc(100% - (10px * var(--ui-scale))) calc(100% - (2px * var(--ui-scale))),
				calc(100% - (10px * var(--ui-scale))) calc(100% - (1px * var(--ui-scale))),
				calc(3px * var(--ui-scale)) calc(100% - (1px * var(--ui-scale))),
				calc(3px * var(--ui-scale)) calc(100% + 1px),
				calc(100% + 1px) calc(100% + 1px),
				calc(100% + 1px) -1px,
			);
			content: '';
			inset: 0;
			position: absolute;
		}
	}

	&.is-centered {
		text-align: center
	}

	&.is-large {
		@extend %thaleah-2x;
	}

	&.is-monospace {
		display: flex;

		&.is-centered {
			justify-content: center;
		}

		.time-wrapper {
			align-content: center;
			display: grid;
			gap: calc(1px * var(--ui-scale));
			grid-template-columns: 1fr 1fr auto 1fr 1fr;

			> span {
				display: inline-flex;
				justify-content: end;
			}
		}
	}
}
