@import '../../scss/functions/generateCornerCutPath';

.notification {
	background-color: var(--palette-black);
	clip-path: generateCornerCutPath((
		'clipSize': 3,
		'uiScale': var(--ui-scale),
	));
	margin-bottom: calc(4px * var(--ui-scale));
	padding:
		calc(4px * var(--ui-scale))
		calc(6px * var(--ui-scale));
	position: relative;

	&:after {
		background-color: var(--palette-grey);
		clip-path: generateCornerCutPath((
			'borderSize': 2,
			'clipSize': 3,
			'isBorder': true,
			'uiScale': var(--ui-scale),
		));
		content: '';
		display: block;
		inset: 0;
		position: absolute;
	}

	&.error:after {
		background-color: var(--palette-red);
	}

	&.success:after {
		background-color: var(--palette-green);
	}
}

.notifications {
	bottom: 0;
	pointer-events: all;
	position: absolute;
	right: 0;
	width: 40%;
}
