#accessibility-settings {
	h2 {
		margin-bottom: calc(6px * var(--ui-scale));
	}

	.font-list {
		.combobox-label .sample {
			display: none;
		}

		[role=option] button {
			display: flex;

			.sample {
				margin-left: auto;
			}
		}
	}
}
