#accessibility-settings {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	form {
		flex-grow: 1;
	}

	h2 {
		margin-bottom: calc(6px * var(--ui-scale));
	}

	menu {
		margin-top: auto;
	}

	.font-list {
		.combobox-label .sample {
			display: none;
		}

		[role=option] button {
			display: flex;

			.sample {
				margin-left: auto;
			}
		}
	}
}
