#graphics-settings {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	form {
		flex-grow: 1;
	}

	menu {
		margin-top: auto;
	}

	.decorated-header {
		margin-bottom: calc(6px * var(--ui-scale));
	}
}
