button {
	background: none;
	background-color: var(--palette-dark-grey);
	border: none;
	clip-path: generateCornerCutPath((
		'clipSize': 3,
		'uiScale': var(--ui-scale),
	));
	color: var(--palette-white);
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	padding: calc(3px * var(--ui-scale)) calc(10px * var(--ui-scale));
	transition-property: background-color;
	transition-duration: 0.1s;

	&:hover {
		background-color: var(--palette-grey);
	}

	&.is-primary {
		background-color: var(--palette-green);
		color: var(--palette-white);

		&:hover {
			background-color: var(--palette-light-green);
		}
	}

	&.is-small {
		padding: calc(1px * var(--ui-scale)) calc(10px * var(--ui-scale));
	}
}
