menu {
	align-content: stretch;
	display: flex;

	.menu-left,
	.menu-right {
		display: flex;
		flex-basis: 50%;
		flex-grow: 1;
		gap: calc(4px * var(--ui-scale));
	}

	.menu-right {
		justify-content: flex-end;
	}
}
