* {
	box-sizing: border-box;
	image-rendering: pixelated;
}

html {
	@extend %awkward-1x;
	background-color: var(--background-color);
	color: var(--text-color);
	height: 100vh;
	width: 100vw;
}

body {
	height: 100vh;
	overflow: hidden;
	width: 100vw;
}

#root {
	height: 100vh;
	width: 100vw;
}
