.tile-grid {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
	gap: calc(10px * var(--ui-scale));
	padding: calc(1px * var(--ui-scale));
	width: 100%;
}

.tile {
	opacity: 0.6;

	&.is-active,
	&:hover {
		opacity: 1;
	}

	&.is-active button {
		cursor: default;
		display: flex;
		position: relative;

		&:after {
			border-color: var(--palette-white);
			border-style: solid;
			border-width: calc(1px * var(--ui-scale));
			clip-path: polygon(
				calc(1px * var(--ui-scale)) calc(2px * var(--ui-scale)),
				0 calc(2px * var(--ui-scale)),
				0 0,
				calc(2px * var(--ui-scale)) 0,
				calc(2px * var(--ui-scale)) calc(1px * var(--ui-scale)),

				calc(100% - (2px * var(--ui-scale))) calc(1px * var(--ui-scale)),
				calc(100% - (2px * var(--ui-scale))) 0,
				100% 0,
				100% calc(2px * var(--ui-scale)),
				calc(100% - (1px * var(--ui-scale))) calc(2px * var(--ui-scale)),

				calc(100% - (1px * var(--ui-scale))) calc(100% - (2px * var(--ui-scale))),
				100% calc(100% - (2px * var(--ui-scale))),
				100% 100%,
				calc(100% - (2px * var(--ui-scale))) 100%,
				calc(100% - (2px * var(--ui-scale))) calc(100% - (1px * var(--ui-scale))),

				calc(2px * var(--ui-scale)) calc(100% - (1px * var(--ui-scale))),
				calc(2px * var(--ui-scale)) 100%,
				0 100%,
				0 calc(100% - (2px * var(--ui-scale))),
				calc(1px * var(--ui-scale)) calc(100% - (2px * var(--ui-scale))),
			);
			content: '';
			inset: calc(-1px * var(--ui-scale));
			position: absolute;
		}
	}

	&:not(.is-active):hover {
		transform: translate(calc(-1px * var(--ui-scale)), calc(-2px * var(--ui-scale)));
	}
}

.empty-message{
	align-items: center;
	background-color: var(--palette-pure-black);
	color: var(--palette-dark-grey);
	display: flex;
	flex-grow: 1;
	justify-content: center;
	padding: calc(6px * var(--ui-scale));
	text-align: center;
}
