.tile-palette-panel {}

.tile-grid {
	display: flex;
	flex-wrap: wrap;
	gap: calc(10px * var(--ui-scale));
	padding: calc(1px * var(--ui-scale));
}

.tile {
	opacity: 0.6;

	&.is-active,
	&:hover {
		opacity: 1;
	}

	&.is-active button {
		cursor: default;
	}

	&:not(.is-active):hover {
		transform: translate(calc(-1px * var(--ui-scale)), calc(-2px * var(--ui-scale)));
	}
}
