.wrapper {
	display: grid;
	flex-grow: 1;
	gap: calc(6px * var(--ui-scale));
	grid-template-areas:
		'heading heading'
		'mappings mappings-visualiser';
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto 1fr;

	h2 {
		grid-area: heading;
	}
}

.mappings {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	dt {
		margin-top: 0;
	}

	dd {
		text-align: right;
	}
}

.mappings-visualiser {
	align-items: center;
	display: flex;
	grid-area: mappings-visualiser;
	justify-content: center;
}

.mappings-wrapper {
	border-right-color: var(--palette-dark-grey);
	border-right-style: solid;
	border-right-width: calc(1px * var(--ui-scale));
	grid-area: mappings;
	padding-right: calc(6px * var(--ui-scale));
}
