.bindings {

}

.mappings {
	display: grid;
	grid-template-columns: 1fr auto auto;
	column-gap: calc(5px * var(--ui-scale));
	row-gap: calc(3px * var(--ui-scale));

	dd,
	dt {
		align-items: center;
		display: flex;
	}

	dt {
		margin-top: 0;
	}

	dd {
		justify-content: center;
		text-indent: initial;
	}
}

.mappings-visualiser {
	align-items: center;
	background-color: black;
	display: flex;
	justify-content: center;
}

.mappings-wrapper {
	padding-right: calc(6px * var(--ui-scale));
}

.wrapper {
	display: grid;
	flex-grow: 1;
	gap: calc(6px * var(--ui-scale));
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 2fr 3fr;
}
