.keyboard-visualiser {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: calc(1px * var(--ui-scale));
	row-gap: calc(2px * var(--ui-scale));
	width: calc(221px * var(--ui-scale));
}

.spacer {
	min-height: calc(10px * var(--ui-scale));
	min-width: calc(9px * var(--ui-scale));
}
