.editor-controls {
	display: flex;
	flex-wrap: wrap;
	gap: calc(10px * var(--ui-scale));
	grid-area: editor-controls;
	padding-top: calc(var(--app-padding) * var(--ui-scale));
}

.control {
	align-items: center;
	display: flex;
	gap: calc(3px * var(--ui-scale));
}
