.loading-game {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: calc(5px * var(--ui-scale));
	justify-content: center;
}

.message-wrapper {
	justify-content: center;
	display: flex;
	position: relative;

	> p {
		position: absolute;
		white-space: nowrap;
	}
}
