.check {
	background-color: currentColor;
	height: calc(3px * var(--ui-scale));
	width: calc(3px * var(--ui-scale));
}

.checkbox {
	border-color: currentColor;
	border-style: solid;
	border-width: calc(1px * var(--ui-scale));
	height: calc(5px * var(--ui-scale));
	width: calc(5px * var(--ui-scale));
}

.wrapper input {
	display: none;
}
