@import '../../scss/functions/generateCornerCutPath';

.button-group {
	align-items: stretch;
	clip-path: generateCornerCutPath((
		'clipSize': 3,
		'uiScale': var(--ui-scale),
	));
	display: flex;
	gap: calc(1px * var(--ui-scale));

	> * {
		clip-path: none;
	}
}
