@font-face {
	font-family: 'Thaleah';
	src: url('../../assets/fonts/thaleah.woff2') format('woff2'),
			 url('../../assets/fonts/thaleah.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

:root {
	@for $index from 1 through 5 {
		--fonts-thaleah-line-height-#{$index}x: calc((7px * #{$index}) * (var(--ui-scale) - 1));
		--fonts-thaleah-size-#{$index}x: var(--fonts-thaleah-line-height-#{$index}x);
	}
}

@for $index from 1 through 5 {
	%thaleah-#{$index}x {
		font-family: var(--heading-font-face, Thaleah), monospace;
		font-size: var(--fonts-thaleah-size-#{$index}x);
		letter-spacing: calc(1px * #{$index} * var(--ui-scale));
		line-height: var(--fonts-thaleah-line-height-#{$index}x);
	}
}
