.is-collapsible {
	flex-shrink: 1;

	> header {
		align-items: center;

		&:after {
			background-color: var(--palette-white);
			clip-path: polygon(
				/* top left */
				0 0,
				calc(1px * var(--ui-scale)) 0,
				calc(1px * var(--ui-scale)) calc(1px * var(--ui-scale)),
				calc(2px * var(--ui-scale)) calc(1px * var(--ui-scale)),
				calc(2px * var(--ui-scale)) calc(2px * var(--ui-scale)),

				/* top right */
				calc(100% - (2px * var(--ui-scale))) calc(2px * var(--ui-scale)),
				calc(100% - (2px * var(--ui-scale))) calc(1px * var(--ui-scale)),
				calc(100% - (1px * var(--ui-scale))) calc(1px * var(--ui-scale)),
				calc(100% - (1px * var(--ui-scale))) 0,
				100% 0,

				/* bottom right */
				100% calc(100% - (2px * var(--ui-scale))),
				calc(100% - (1px * var(--ui-scale))) calc(100% - (2px * var(--ui-scale))),
				calc(100% - (1px * var(--ui-scale))) calc(100% - (1px * var(--ui-scale))),
				calc(100% - (2px * var(--ui-scale))) calc(100% - (1px * var(--ui-scale))),
				calc(100% - (2px * var(--ui-scale))) 100%,

				/* bottom left */
				calc(2px * var(--ui-scale)) 100%,
				calc(2px * var(--ui-scale)) calc(100% - (1px * var(--ui-scale))),
				calc(1px * var(--ui-scale)) calc(100% - (1px * var(--ui-scale))),
				calc(1px * var(--ui-scale)) calc(100% - (2px * var(--ui-scale))),
				0 calc(100% - (2px * var(--ui-scale))),
			);
			content: '';
			display: block;
			margin-left: auto;
			height: calc(3px * var(--ui-scale));
			transform: rotate(0deg);
			width: calc(5px * var(--ui-scale));
		}
	}

	&.is-open > header:after {
		transform: rotate(180deg);
	}
}

.panel-content {
	flex-shrink: 1;
	overflow: auto;
}
