@import '../../scss/functions/generateCornerCutPath';

.wrapper {
	display: flex;
	flex-direction: column;
	gap: calc(2px * var(--ui-scale));
}

.chevron {
	clip-path: none;

	&:before {
		background-color: currentColor;
		clip-path: polygon(
			0 0,
			calc(1px * var(--ui-scale)) 0,
			calc(1px * var(--ui-scale)) calc(1px * var(--ui-scale)),
			calc(2px * var(--ui-scale)) calc(1px * var(--ui-scale)),
			calc(2px * var(--ui-scale)) calc(2px * var(--ui-scale)),
			calc(3px * var(--ui-scale)) calc(2px * var(--ui-scale)),
			calc(3px * var(--ui-scale)) calc(1px * var(--ui-scale)),
			calc(4px * var(--ui-scale)) calc(1px * var(--ui-scale)),
			calc(4px * var(--ui-scale)) 0,
			calc(5px * var(--ui-scale)) 0,
			calc(5px * var(--ui-scale)) calc(1px * var(--ui-scale)),
			calc(4px * var(--ui-scale)) calc(1px * var(--ui-scale)),
			calc(4px * var(--ui-scale)) calc(2px * var(--ui-scale)),
			calc(3px * var(--ui-scale)) calc(2px * var(--ui-scale)),
			calc(3px * var(--ui-scale)) calc(3px * var(--ui-scale)),
			calc(2px * var(--ui-scale)) calc(3px * var(--ui-scale)),
			calc(2px * var(--ui-scale)) calc(2px * var(--ui-scale)),
			calc(1px * var(--ui-scale)) calc(2px * var(--ui-scale)),
			calc(1px * var(--ui-scale)) calc(1px * var(--ui-scale)),
			0 calc(1px * var(--ui-scale)),
		);
		content: '';
		display: block;
		height: calc(3px * var(--ui-scale));
		width: calc(5px * var(--ui-scale));
	}
}

.expandable-container {
	display: flex;
	position: relative;

	&.is-drop-up {
		.chevron:before {
			transform: rotate(180deg);
		}

		.expandable-items {
			bottom: 100%;
			margin-bottom: calc(2px * var(--ui-scale));
			margin-top: 0;
			top: unset;
		}
	}
}

.expandable-control {
	align-items: stretch;
	clip-path: generateCornerCutPath((
		'clipSize': 3,
		'uiScale': var(--ui-scale),
	));
	display: flex;
	gap: calc(1px * var(--ui-scale));
	width: 100%;

	button {
		clip-path: none;

		&:first-child {
			flex-grow: 1;
		}
	}
}

.expandable-items {
	display: flex;
	flex-direction: column;
	gap: calc(2px * var(--ui-scale));
	left: 0;
	margin-top: calc(2px * var(--ui-scale));
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 1;
}
